@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Telex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Jacquarda+Bastarda+9&family=Lilita+One&family=Megrim&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+HK:wght@200..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Righteous&family=Whisper&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

blockquote {
  font-style: italic;
}

body {
  overflow-x: hidden;
}

button {
  background-color: rgb(255, 94, 0) !important;
}

.container .heading {
  color: rgb(255, 94, 0) !important;
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3rem !important;
}

#categories .categorie-text h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#categories .categorie-text h3::after {
  content: "";
  display: block;
  background-color: rgb(255, 94, 0);
  margin: 10px auto;
  width: 100px;
  height: 3px;
}
#categories .chair-card {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #ede6e6;
  height: 200px;
}
#categories .text-content {
  margin-left: 15px;
}
#categories .text-content h2 {
  font-size: 2rem;
  font-weight: bold;
}
#categories .text-content p {
  color: #888;
  margin-bottom: 1rem;
}
#categories .image-content img {
  width: 134px;
  border-radius: 10px;
}

#services .service-box {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #ede6e6;
  margin: 0px auto;
  height: 240px;
}
#services .service-text h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#services .service-text h3::after {
  content: "";
  background-color: rgb(255, 94, 0) !important;
  margin: 10px auto;
  width: 70px;
  height: 3px;
  display: block;
}
#services .service-text p {
  color: #888;
  margin-bottom: 1rem;
}
#services .image-content {
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (if needed) */
  margin-top: 10px; /* Optional margin */
}
#services .image-content img {
  display: block; /* Ensures image takes up only necessary space */
  margin: auto; /* Backup centering if flex fails */
}

#products .product-card {
  background-color: #ede6e6;
  border: 1px solid #e5e5e5;
  height: auto;
  border-radius: 10px;
}
#products .product-card h5, #products h6 {
  margin-left: 20px;
  padding-top: 5px;
}
#products .product-text h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#products .product-text h3::after {
  content: "";
  background-color: rgb(255, 94, 0);
  height: 3px;
  width: 170px;
  margin: 10px auto;
  display: block;
}

#testimonies .profile-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ede6e6;
  border-radius: 20px;
  height: 220px;
}
#testimonies .testimonies-heading h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#testimonies .testimonies-heading h3::after {
  content: "";
  background-color: rgb(255, 94, 0);
  display: block;
  height: 3px;
  width: 80px;
  margin: 10px auto;
}
#testimonies .profile-image {
  margin-bottom: 0px;
  transform: translate(150px, -40px);
}
#testimonies .profile-image img {
  width: 100px;
  border-radius: 50%;
  border: 13px solid white;
}
#testimonies .profile-text {
  margin-top: -52px; /* Moves the text upwards to align with the image */
  text-align: center;
}
#testimonies .profile-details h5, #testimonies .profile-details p {
  margin: 0;
}

.about-us .about-heading h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-us .about-heading h3::after {
  content: "";
  background-color: rgb(255, 94, 0);
  display: block;
  height: 3px;
  width: 80px;
  margin: 10px auto;
}
.about-us .about-text {
  margin-top: 10px;
}
.about-us .about-text h2 {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-us .about-footer {
  line-height: 18px;
  padding-top: 10px;
}
.about-us .about-footer .signature {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.specialities .specialities-heading h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.specialities .specialities-heading h3::after {
  content: "";
  display: block;
  background-color: rgb(255, 94, 0);
  height: 3px;
  width: 130px;
  margin: 10px auto;
}
.specialities .specialities-content h3 {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.specialities .specialities-content .more-content {
  display: none;
}
.specialities .specialities-content .more-write-up {
  display: none;
}

.ratings .ratings-heading h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ratings .ratings-heading h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: rgb(255, 94, 0);
  margin: 10px auto;
}
.ratings .progress {
  height: 20px;
  border-radius: 20px;
}
.ratings .progress-bar {
  border-radius: 20px;
}
.ratings .counter-content {
  padding-top: 90px;
}
.ratings .counter-text {
  margin-top: 20px;
}
.ratings .counter-text h2 {
  font-family: monospace;
  font-weight: bolder;
  font-size: 38px;
}

.contact h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contact h3::after {
  display: block;
  content: "";
  height: 3px;
  width: 62px;
  background-color: rgb(255, 94, 0) !important;
  margin: 10px auto;
}
.contact .contact-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 0;
  text-align: center;
}
.contact .contact-top img {
  margin-bottom: 10px;
}
.contact .contact-content {
  padding-top: 20px;
  background-color: #ede6e6;
  height: 140px;
  border-radius: 10px;
}
.contact .contact-text {
  line-height: 15px;
  margin-top: 10px;
}
.contact .contact-form .form-group {
  margin-bottom: 30px;
}
.contact .contact-form .form-group input {
  background-color: #fffdfd;
  height: 50px;
}
.contact .contact-form .form-group textarea:focus {
  outline: none !important;
  border: 2px solid rgb(255, 94, 0);
  box-shadow: none;
}
.contact .contact-form .form-group input:focus {
  outline: none !important;
  border: 2px solid rgb(255, 94, 0);
  box-shadow: none;
}

.objective .social {
  display: flex;
  gap: 12px;
}
.objective .social a {
  color: black;
  font-size: 1.5rem;
}

.footer {
  margin-top: 30px;
}
.footer .links ul {
  list-style: none;
}
.footer .links ul li a {
  color: black;
  text-decoration: none;
}

.copyright {
  margin-top: 10px;
}

.copyright a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.map-container {
  position: relative;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 56.25%; /* This maintains a 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  #services {
    display: flex !important;
    flex-direction: column;
  }
  .categories {
    display: flex !important;
    flex-direction: column !important;
  }
  .about-us img {
    width: 400px;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .banner-text {
    position: relative;
    top: 30px;
  }
}/*# sourceMappingURL=main.css.map */